:root{
    --word-color: #FF6C00;
    --one-of-the-main-color: #FFFFFF;
    --second-main-color: #9DA4BD;
    --different-color: rgba(157, 164, 189, 0.6);
    --main-text-color: #9DA4BD;
    --big-number-color: #303030;
    --text-color: #555555;
    --backgraund-color:#F7F7F7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
