:root{
    --word-color: #FF6C00;
    --one-of-the-main-color: #FFFFFF;
    --second-main-color: #9DA4BD;
    --different-color: rgba(157, 164, 189, 0.6);
    --main-text-color: #9DA4BD;
    --big-number-color: #303030;
    --text-color: #555555;
    --backgraund-color:#F7F7F7;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{list-style: none;}

a[href]{text-decoration: none;}

h1{font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--one-of-the-main-color);
}


/* navi */

.link{
    color: var(--one-of-the-main-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    list-style: none;
}


.link:hover,
.link:focus{color:var(--word-color);}
.link::content{color: var(--word-color);}

.phone{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--one-of-the-main-color);
}

/* button */

.main-botton{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    color: var(--one-of-the-main-color);
}

/* main */

.section-hiro{background-color:var(--one-of-the-main-color);}

.social-networks{color: var(--big-number-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.social-networks:hover,
.social-networks:focus{color: var(--word-color);
}

.section-hiro-location{color: var(--different-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
}


.hiro-info{color: var(--text-color);
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}
    
 
.about-text{color: var(--text-color);
 font-size: 18px;
 line-height: 1.67; 
 letter-spacing: 0.02em;
}

.section-about{color: var(--big-number-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;}

.best-barbershop{color: var(--big-number-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.section-about-button{color: var(--big-number-color);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
}

/* prises */

.section-prise{color: var(--different-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
}

.section-servises-prices{color:var(--one-of-the-main-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.list{ color: var(--main-text-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.numbers{color: var(--big-number-color);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;
}

sap{color: var(--word-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
}

.information{color: var(--big-number-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
}

.section-why-us{color: var(--big-number-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    letter-spacing: 0.1em;
}

.people-come-to-us{color: var(--big-number-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.good-things{color:var(--text-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

/* barbers */

.section-barbers{background-color: var(--backgraund-color);}
.about-our-barbers{color: var(--big-number-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    letter-spacing: 0.1em;
}

.our-barbers{color: var(--big-number-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.barber{color: var(--big-number-color);
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.02em;
}

.position{color: var(--word-color);
    font-size: 14px;
    line-height: 1.36;  
    letter-spacing: 0.02em;
}

/* portfolio */

.portfolio{color: var(--big-number-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.37;
    letter-spacing: 0.1em;
}

.online-booking{color: var(--one-of-the-main-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

/* contacts */

.contacts{color: var(--one-of-the-main-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

.adress-footer{font-style: unset;
}

.location{font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
}

.phone-footer{
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

}

.mail-footer{
    color: var(--second-main-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
}
